[submodule "vendor/blip-buf"]
	path = vendor/blip-buf
	url = https://gitclone.com/github.com/nesbox/blip-buf.git
	shallow = true
[submodule "vendor/dirent"]
	path = vendor/dirent
	url = https://gitclone.com/github.com/tronkko/dirent.git
	shallow = true
[submodule "vendor/giflib"]
	path = vendor/giflib
	url = https://gitclone.com/github.com/nesbox/giflib.git
	shallow = true
[submodule "vendor/lpeg"]
	path = vendor/lpeg
	url = https://gitclone.com/github.com/nesbox/lpeg.git
	shallow = true
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://gitclone.com/github.com/lua/lua.git
	shallow = true
[submodule "vendor/sdl-gpu"]
	path = vendor/sdl-gpu
	url = https://gitclone.com/github.com/grimfang4/sdl-gpu.git
	shallow = true
[submodule "vendor/sokol"]
	path = vendor/sokol
	url = https://gitclone.com/github.com/floooh/sokol.git
	shallow = true
[submodule "vendor/squirrel"]
	path = vendor/squirrel
	url = https://gitclone.com/github.com/albertodemichelis/squirrel.git
	shallow = true
[submodule "vendor/wren"]
	path = vendor/wren
	url = https://gitclone.com/github.com/wren-lang/wren.git
	shallow = true
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://gitclone.com/github.com/madler/zlib.git
	shallow = true
[submodule "vendor/zip"]
	path = vendor/zip
	url = https://gitclone.com/github.com/kuba--/zip.git
	shallow = true
[submodule "vendor/moonscript"]
	path = vendor/moonscript
	url = https://gitclone.com/github.com/nesbox/moonscript.git
	shallow = true
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://gitclone.com/github.com/cofyc/argparse.git
	shallow = true
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://gitclone.com/github.com/glennrp/libpng.git
	shallow = true
[submodule "vendor/sdl2"]
	path = vendor/sdl2
	url = https://gitclone.com/github.com/libsdl-org/SDL.git
	shallow = true
[submodule "mruby"]
	path = vendor/mruby
	url = https://gitclone.com/github.com/mruby/mruby.git
	shallow = true
[submodule "vendor/wasm3"]
	path = vendor/wasm3
	url = https://gitclone.com/github.com/wasm3/wasm3.git
	shallow = true
[submodule "vendor/janet"]
	path = vendor/janet
	url = https://gitclone.com/github.com/janet-lang/janet.git
	shallow = true
[submodule "vendor/pocketpy"]
	path = vendor/pocketpy
	url = https://gitclone.com/github.com/blueloveTH/pocketpy
	shallow = true
[submodule "vendor/quickjs"]
	path = vendor/quickjs
	url = https://gitclone.com/github.com/nesbox/quickjs.git
	shallow = true
[submodule "vendor/naett"]
	path = vendor/naett
	url = https://gitclone.com/github.com/erkkah/naett.git
	shallow = true
[submodule "vendor/msf_gif"]
	path = vendor/msf_gif
	url = https://gitclone.com/github.com/notnullnotvoid/msf_gif.git
	shallow = true
